.about-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-right: 30vw;
    margin-left: 30vw;
}

.about-buttons {
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
}

.about-container ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    max-width: 55%;
}

.about-container li {
    display: flex;
    justify-content: flex-start;
}

.about-container li::before {
    content: "•";
    margin-right: 0.5em;
}

.list-wrapper {
    display: inline-block;
}
