html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.search-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.search-container li {
    list-style-type: none;
}

.search-results {
    justify-content: center;
    text-align: center;
}

.results {
    margin-right: 2vw;
}
