:root {
    --primary-bg-color: #051622;
    --secondary-element-color: #1ba098;
    --primary-element-color: #deb992;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color: var(--primary-element-color);
    background-color: var(--primary-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    color: var(--primary-element-color);
}

button {
    font-size: 1em;
    font-weight: 1000;
    border: solid;
    border-color: var(--secondary-element-color);
    background: none;
    color: var(--primary-element-color);
    padding: 1rem 1rem;
    margin-right: 0.1vw;
}

button:hover {
    background-color: var(--secondary-element-color);
}

input {
    font-size: 1em;
    font-weight: 600;
    padding: 5px 5px 5px 10px;
    border: 0.3em solid var(--secondary-element-color);
    background-color: var(--primary-bg-color);
    color: var(--primary-element-color);
    width: 300px;
    height: 25px;
}

textarea {
    outline: 0.3em solid var(--secondary-element-color);
}
