.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-icon {
    float: left;
    display: block;
    text-align: center;
    padding: 1em;
    margin-left: 1em;
}

.icon {
    fill: #1ba098;
    transform: scale(1.5);
}

.navbar-item {
    float: right;
    display: block;
    color: #1ba098;
    text-align: center;
    padding: 0;
}
