@import url("index.css");

.songs-container h1,
.songs-container h2 {
    text-align: center;
}

.songs-container {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
}

.songs-list,
.artists-list {
    border: solid var(--primary-element-color);
    border-width: 1px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-right: 5vw;
    margin-left: 5vw;
    flex: 1;
}

.list-row {
    height: 100vh;
    display: flex;
}
