body {
    overflow-y: scroll;
}

.song-header h1 {
    padding-right: 50vw;
}

a {
    font-size: 1em;
    font-weight: 700;
    color: #1ba098;
    padding: 1rem 1rem;
    margin-right: 0.1vw;
}
.song-header {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 0.4em;
    text-underline-offset: 0.6rem;
    position: relative;
}

.delete-button {
    position: absolute;
    left: 94.8%;
    margin-left: 0.5rem;
    bottom: -0.2em;
    border-color: #cc3333;
    font-size: 0.8em;
}

.delete-button:hover {
    background-color: #cc3333;
}
.button-wrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}

.button-list {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    justify-content: left;
}

.button-list.left {
    padding-left: 20vw;
}

.button-list.right {
    padding-right: 32.7vw;
}
.song-wrapper {
    display: flex;
    gap: 15rem;
    padding-bottom: 5rem;
}

.lyric {
    flex: 1;
}

.lyric.left {
    padding-left: 20vw;
}
.lyric.right {
    padding-right: 20vw;
}

span {
    font-size: 1.5rem;
}
