.song-header {
    text-align: center;
}
.button-list {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    justify-content: left;
    padding-left: 0;
}
.song-wrapper {
    display: flex;
    justify-content: center;
    gap: 30rem;
}
.left .right {
    width: 50%;
}
